.groupInput label,.groupInput span{
    width: 100%;
    text-align: center;
    color:black;
    

  }
  .groupInput{
padding: 15px;
  }
  .newOrgInput{
    width: calc(100% - 30px); 
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline:none;
    padding: 10px;
    
  }

  .groupInput textarea{
    height: 100px;
    resize: vertical;
    padding: 10px;
  }
  @media only screen and (max-width: 900px) {
    .imgSelectionItem{
        flex: 0 0 32%;
    }
  }
  @media only screen and (max-width: 500px) {
    .imgSelectionItem{
        flex: 0 0 50%;
    }
  }