.addNewOrg{
  bottom: 0;
    right: 0;
    background: #4b00fb;
    color: white;
    padding: 15px;
    opacity: 0.5;
    border: none;
    position: fixed;
    z-index: 1000;
    transition:1s;
    cursor: pointer;
}
.addNewOrg:hover{
  opacity: 1;
}
.overlay{
  position: absolute;
  opacity: 0.33;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
}